<head>
<link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</head>
<body>
{{^user}}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	<p>Welcome! Please <a href="/login"><strong>log in</strong></a>.</p>
</nav>
{{> all_polls }}
</body>
{{/user}}
<body>
{{#user}}
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <a class="navbar-brand" href="#">Voting App</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li>
            <a class="nav-link disabled" href="#">My Polls</a>
          </li>
          <li>
            <a class="nav-link disabled" href="#">New Poll</a>
          </li>
        </ul>
   <p style ="color:white">Hello, {{ user.displayName }}.</p>
</nav>
</body>
{{/user}}
